html {
    box-sizing: border-box;
    font-family: "Lato" sans-serif;
}

*,
::after ::before {
    box-sizing: inherit;
}

body {
    background-image: url(../images/header_coins.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.form {
    padding: 30px;
    background-color: hsla(24, 46%, 72%, 0.63);
    max-width: 600px;
    margin: auto;
}

.form__legend {
    background-color: hsl(17, 39%, 72%);
    box-shadow: 2px 2px 10px;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
}

.form__fieldset {
    background-color: hsla(0, 24%, 88%, 0.76);
    border: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px;
}

.form__button {
    background-color: hsl(7, 34%, 80%);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 4px 4px 10px;
}

.form__button:hover {
    background-color: rgb(204, 111, 111);
    border: 1px solid rgb(185, 105, 105);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 4px 4px 10px;

}

.form__button:active {
    background-color: rgb(206, 86, 30);
    border: 1px solid rgb(185, 105, 105);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px;
}

.form__fieldNumber {
    border-radius: 5px;
    border: 1px solid rgb(158, 46, 68);
    padding: 5px 10px;
    width: 170px;
}

.form__fieldNumber:hover {
    border-radius: 5px;
    border: 1px solid rgb(158, 46, 68);
    padding: 5px 10px;
}

.form__fieldSelect {
    border-radius: 5px;
    border: 1px solid rgb(158, 46, 68);
    padding: 5px 10px;
}


.form__fieldSelect:hover {
    border-radius: 5px;
    border: 1px solid rgb(158, 46, 68);
    padding: 5px 10px;
}